.input-box {
  &__container {
    input {
      all: unset;
      border: 2px solid #2391e0;
      padding: 14px;
      border-radius: 8px;
      width: calc(100% - 28px);
      background: #fff;
      font-size: 20px;
      font-weight: 500;
    }
  }
}
