$baseGrey: #808080;
$themeBlack: #121212;
$themeWhite: #fff;
$themeBlue: #2391e0;
$themeGreen: #bada55;
$themeFullBlack: #000;

/* Mixin for phone media query */
@mixin for-phone-only {
  @media (max-width: 560px) {
    @content;
  }
}

@mixin for-small-phone-only {
  @media (max-width: 360px) {
    @content;
  }
}

/* Mixin for transition */
@mixin transition() {
  $transition: 0.3s ease-in-out;
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --text-color: #{$themeWhite};
  --bg-color: #{$themeBlack};

  &.app-body {
    &--disable-scroll {
      overflow: hidden;
    }
    &--white-mode {
      --text-color: #{$themeBlack};
      --bg-color: #{$themeWhite};
    }
    @include transition();
    background-color: var(--bg-color);
  }
}

.App {
  max-width: 1040px;
  margin: 0 auto;
  padding-top: 20px;
  .gif-items__wrapper {
    padding-top: 20px;
  }
  @include for-phone-only() {
    max-width: calc(100vw - 16px);
  }
}

.empty-text {
  color: $themeWhite;
  font-size: 20px;
  text-align: center;
}

.toastContainer {
  z-index: 2;
}
